/* Custom styles for background and font if needed, otherwise Tailwind handles most */
        body {
            font-family: 'Inter', sans-serif; /* Using Inter font */
            background-color: #141414; /* Netflix dark background */
            color: #e5e5e5; /* Light grey text */
        }
        /* Custom scrollbar for the movie row */
        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }
        .scrollbar-hide {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
        #lista-peliculas > div {
            height: 350px; /* ajusta el valor a gusto */
        }
        #lista-peliculas img {
            height: 100%;
            object-fit: cover;
        }
        #texto-con-fondo {
            background-color: rgba(0, 0, 0, 0.6);
            padding: 1rem;
            border-radius: 8px;
            max-width: 40rem;
        }
        #main-title, #main-tags, #main-description {
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        }


        